* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  input{
    width: 20vw;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  ul {
    list-style: none;
    width: 20vw;
    max-height: 300px;
    overflow-y: scroll;
  }
  
  li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }